<form {{action "submit" on="submit"}}>
  <label for="email">Email</label>
  {{input name="email" value=user.email placeholder="enter email"}}

  <label for="password">Password</label>
  {{input name="password" value=user.password type="password" placeholder="enter password"}}

  <label for="passwordConfirmation">Password Confirmation</label>
  {{input name="passwordConfirmation" value=user.passwordConfirmation type="password" placeholder="enter password again"}}

  <button type="submit">Register</button>
</form>

{{#if errors}}
  <code>
    {{errors_str}}
  </code>
{{/if}}